// Mixins in here
//Buttons
.btn {
    font-size: @font-s; 
    width: @width;
    height: 46px;
    padding: 10px 40px;
    border-radius: @border-radius;
    background-color: @button-bg;
    color: @white;
    cursor: pointer;

    &:hover { 
      background-color: darken(@button-bg, 10%)
    }
  }

/*.btn(@font-s, @width, @bgcolor, @color){
    font-size: @font-s; 
    width: @width;
    height: 46px;
    padding: 10px 40px;
    border-radius: 16px;
    background-color: @bgcolor;
    color: @color;
    cursor: pointer;

.btn(1.8rem, 85%, teal, white);

    &:hover { 
      background-color: darken(teal, 5%);
    }
  }*/